<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="30" fxFlex.sm="50" fxFlex.xs="92" class="p-0">
      <mat-toolbar color="primary" class="text-center mat-elevation-z2"><span>Reset Password</span></mat-toolbar>
      <div></div>
      <form [formGroup]="tokenForm" (ngSubmit)="PasswordChanger()" fxLayoutAlign="stretch" fxLayout="column" class="p-4">
        <mat-form-field>
          <input [formControlName]="'email'" matInput type="email" placeholder="Username ( Email )" required>
        </mat-form-field>
        <span class="text-danger">
          <span *ngIf="tokenForm.get('email')?.errors?.required && tokenForm.get('email').touched">
            Please enter your Email.
          </span>
          <span *ngIf="tokenForm.get('email')?.errors?.minlength">
            Email must be longer than 5 characters.
          </span>
          <span *ngIf="tokenForm.get('email')?.errors?.email">
            Please Specify an Email.
          </span>
        </span>
        <button mat-raised-button type="submit" color="accent">Reset Password</button>
      </form>
      <div class="text-center pb-2">
        Don't have an account?
        <a routerLink='/AdminSignup'>Signup here</a>.
      </div>
    </mat-card>
  </div>
