<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="30" fxFlex.sm="50" fxFlex.xs="92" class="p-0">
      <mat-toolbar color="primary" class="text-center mat-elevation-z2"><span>Login</span></mat-toolbar>
      <div></div>
      <form [formGroup]="tokenForm" (ngSubmit)="PasswordChanger()" fxLayoutAlign="stretch" fxLayout="column" class="p-4">
        <mat-form-field>
          <input [formControlName]="'token'" matInput placeholder="Token ( Check your mail )" required>
        </mat-form-field>
        <span class="text-danger">
          <span *ngIf="tokenForm.get('token')?.errors?.required && tokenForm.get('token').touched">
            Please enter Token Received.
          </span>
          <span *ngIf="tokenForm.get('token')?.errors?.minlength">
            Token must be 36 characters long.
          </span>
          <span *ngIf="tokenForm.get('token')?.errors?.maxlength">
            Token is only 36 characters long.
          </span>
        </span>
        <mat-form-field>
          <input [formControlName]="'password'" matInput type="password" placeholder="Password" required>
        </mat-form-field>
        <span class="text-danger">
          <span *ngIf="tokenForm.get('password')?.errors?.required && tokenForm.get('password').touched">
            Please enter Password.
          </span>
          <span *ngIf="tokenForm.get('password')?.errors?.minlength">
            Password must be longer than 8 characters.
          </span>
          <span *ngIf="tokenForm.get('password')?.errors?.pattern">
            Password must contain atleast 1 number, 1 special character and 1 letter.
          </span>
        </span>
        <button mat-raised-button type="submit" color="accent">Login</button>
      </form>
    </mat-card>
  </div>
