:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer{
    width: 230px;
}
mat-drawer-container {
    height: 100%;
}
.bg-white{
    background-color: white;
}
.cover-input {
    width: 45%;
}
.cover-input-area {
    width: 60%;
}
table {
    width: 100%;

}
th.mat-sort-header-sorted {
    color: black;
}

@media screen and (max-width: 600px) {
    .cover-input {
        width: 100%;
    }
    .cover-input-area {
        width: 100%;
    }
  }