<app-header [inputSideNav]="sideNav"></app-header>
<mat-drawer-container class="example-container" autosize [hasBackdrop]='true'>
  <mat-drawer mode="over" #sideNav >
    
    <mat-nav-list>
      <h2 mat-subheader>Pages</h2>
      <a mat-list-item routerLink="/Dashboard">Home</a>
      <a mat-list-item routerLink="/Cart">Cart</a>
      <a mat-list-item routerLink="/OrderStatus">Order Status</a>
      <a mat-list-item routerLink="/AllOrders">Total Orders</a>
      <a mat-list-item routerLink="/OwnerSignup">Join Medify</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="p-3">

    <div class="container p-2 bg-white">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Filter By</mat-label>
          <input matInput [(ngModel)]='listFilter'>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Select city</mat-label>
          <mat-select [(ngModel)]='cityFilter'>
            <mat-option *ngFor='let element of city' value='{{element}}'>{{element}}</mat-option>
            <mat-option *ngIf='!city.length' value=''>None</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Select State</mat-label>
          <mat-select [(ngModel)]='stateFilter'>
            <mat-option *ngFor='let element of state' value="{{element}}">{{element}}</mat-option>
            <mat-option *ngIf='!state.length' value=''>None</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>


  <div class="row">
    <mat-card class="card m-3" *ngFor="let item of filteredMedToStore">
      <a class="no-deco" [routerLink]="['/MedicineDetail',item.id]">
        <mat-card-header>
          <mat-card-title>{{item.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{item.image}}" height="200px" alt="Photo of a Shiba Inu">
      </a>
        <mat-card-content>
          <p>Store: {{item.storeName}}</p>
          <p>Address: {{item.address.address1}}, {{item.address.address2 }}, {{item.address.city }}, {{item.address.state }}, Pin: {{item.address.pincode }}</p>
          <h2 class="text-danger">Rs. {{item.price}}</h2>
        </mat-card-content>
        <mat-card-actions>
          <button *ngIf="!item.cart" mat-raised-button color="accent" (click)="addToCart(item.id)" >Add to cart</button>
          <button *ngIf="item.cart" mat-raised-button color="warn" (click)="removeFromCart(item.id)" >Remove From cart</button>
        </mat-card-actions>
      </mat-card>
    </div>


  </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>