<app-header [inputSideNav]="sideNav"></app-header>
<mat-drawer-container class="example-container" autosize [hasBackdrop]='true'>
  <mat-drawer mode="over" #sideNav >
    
    <mat-nav-list>
      <h2 mat-subheader>Pages</h2>
      <a mat-list-item routerLink="/OwnerDashboard">Home</a>
      <a mat-list-item routerLink="/AddStore">Add Store</a>
      <a mat-list-item routerLink="/AddMedicines">Add Medicines</a>
      <a mat-list-item routerLink="/OrderReceived">Order Received</a>
      <a mat-list-item routerLink="/OrderPacked">Order Packed</a>
      <a mat-list-item routerLink="/TotalOrders">Total Orders</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="p-3">
<div class="container">
    <app-analytics-chart></app-analytics-chart>
</div>
  </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>