<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<div class="card card-timeline px-2 border-none">
  <h3>Order Id: {{orderId}}</h3>
  <ul class="bs4-order-tracking">
    <li class="step active" >
      <div><i class="fas fa-receipt"></i></div>
      Order Placed
    </li>
    <li class="step" [ngClass]="{'active':orderStatus == 'Order Cancel'}">
      <div><i class="fas fa-window-close"></i></div>
      Order Cancel
    </li>
    <li class="step">
      <div><i class="fas fa-box"></i></div>
      Packed
    </li>
  </ul>
</div>
